<html> 
   <head xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:datafaqs="http://purl.org/twc/vocab/datafaqs#">                                                                  
      <link rel="stylesheet" type="text/css" media="screen" href="css/configure-epoch.css" />
      <script type="text/javascript" src="js/jquery-1.7.1.js"></script>          
      <script type="text/javascript">                                         

      function beetlejuice(uri) {
         return encodeURIComponent(encodeURIComponent(encodeURIComponent(uri)));
      }

      $(document).ready(function() {

         $('.hide').hide();
         $('#augment-datasets-checkbox').change(function(e) {
            if( $('#augment-datasets-checkbox')[0].checked ) {
               $('.hide').show('slow');
            }else {
               $('.hide').hide('slow');
            }
         });
         $("select.core-service").change(function(e) {
            service = e.currentTarget.value;

            // Hack https://github.com/alangrafu/lodspeakr/issues/35
            service = encodeURIComponent(encodeURIComponent(encodeURIComponent(service)));

            //$(e.currentTarget).after('<p>{{lodspk.baseUrl}}/service-history/'+service+'</p>');

            // http://aquarius.tw.rpi.edu/datafaqs/DataFAQs-lodspeakr/service-history/select-faqts:via-sparql-query
            // http%25253A%25252F%25252Fsparql.tw.rpi.edu%25252Fservices%25252Fdatafaqs%25252Fcore%25252Fselect-faqts%25252Fvia-sparql-query
            // returns
            // https://raw.github.com/timrdf/DataFAQs/master/services/sadi/core/select-faqts/via-sparql-query-materials/sample-inputs/from-official-sadi-registry.ttl

            // http://aquarius.tw.rpi.edu/datafaqs/DataFAQs-lodspeakr/service-history/select-faqts:select-datasets:by-ckan-group
            // returns
            // https://raw.github.com/timrdf/DataFAQs/master/services/sadi/core/select-datasets/by-ckan-group-materials/sample-inputs/thedatahub-datafaqs.ttl
   
            // aquarius.tw.rpi.edu/datafaqs/DataFAQs-lodspeakr/service-history/augment-datasets:with-preferred-uri-and-ckan-meta-void
            // returns
            // http://sparql.tw.rpi.edu/datafaqs/epoch/2012-01-21/config/datasets

            $.ajax({
               url     : '{{lodspk.baseUrl}}service-history/'+service,
               headers : { "Accept" : "application/json" },
               context : $(e.currentTarget).siblings('select.core.input')[0], // Becomes 'this' in success function.
               success : function(json){
                  select = $(this);
                  $(this).find('option').remove();
                  $.each(json, function(i, input) {
                     $(select).append('<option value="'+input+'">'+input+'</option>');
                  });
               }
            });

         });

      });

      </script>                                                               
   </head>                                                              
   <body xmlns:datafaqs="http://purl.org/twc/vocab/datafaqs#"
         xmlns:prov="http://www.w3.org/ns/prov-o/">

      <div>
         <div style="text-align: center">
            <a href="https://github.com/timrdf/DataFAQs/wiki">
               <img src="https://github.com/timrdf/DataFAQs/raw/master/doc/DataFAQs.png" alt="DataFAQs logo" width="40%"/>
            </a>
            <p>
              <a href="{{lodspk.baseUrl}}">home</a>
              | <a href="faqt-service">evaluation services</a>
              | <a href="dataset">datasets</a>
              | <a href="epoch">epochs</a>
            </p>
         </div>
      </div>

      <div class="warning">
         <div>
            <p>Note: This page is for illustration purposes only. It is not functional yet.</p>
         </div>
      </div>

      <div id="epoch" class="configuration">
         <p>
            <span class="step-num">1</span> <span class="step-title">Name the epoch</span>
         </p>
         <span><?php echo date('Y-m-d')?></span>
         <p>Existing <a href="{{lodspk.baseUrl}}epoch">epochs</a></p>
      </div>

      <div id="select-faqts" class="faqts configuration">
         <p>
            <span class="step-num">2</span> <span class="step-title">Select evaluation services to apply</span>
         </p>
         <p class="step-description">The following SADI services will return lists of FAqT evaluation services. Choose one service and its appropriate input.
         </p>
         <table>
            <tr>
               <th>select-faqts</th>
               <th>Requires input type</th>
            </tr>
            {%for i in models.biordf.faqt_service_collection%}
               <tr>
                  <td about="{{i.service.value}}" typeof="datafaqs:FAqTSelector"><a href='{{i.service.value}}'>{{i.service.value}}</a></td>
                  <td about='{{i.input.value}}'><a href='{{i.input.value}}'>{{i.input.value}}</a></td>
               </tr>
            {%endfor%}
         </table>
         <select class="core-service">
            {%for i in models.biordf.faqt_service_collection%}
               <option about='{{i.service.value}}' typeof="datafaqs:FAqTSelector" value='{{i.service.value}}'>{{i.service.value}}</option>
            {%endfor%}
         </select>
         with input: (new) <input type="text" name="lname" /> or previous:
         <select class="core input">
            {%for row in models.biordf.local.previous_faqt_service_inputs%}
               <option value='{{row.input.value}}'>{{row.input.value}}</option>
            {%endfor%}
         </select>
      </div>

      <div id="select-datasets" class="datasets configuration">
         <p>
            <span class="step-num">3</span> <span class="step-title">Select datasets to evaluate</span>
         </p>
         <table>
            <tr>
               <th>select-datasets</th>
               <th>Requires input type</th>
            </tr>
            {%for i in models.biordf.dataset_collection%}
               <tr>
                  <td><a href='{{i.service.value}}'>{{i.service.value}}</a></td>
                  <td><a href='{{i.input.value}}'>{{i.input.value}}</a></td>
               </tr>
            {%endfor%}
         </table>
         <select class="core-service">
            {%for i in models.biordf.dataset_collection%}
               <option about='{{i.service.value}}' typeof="datafaqs:DatasetSelector" value='{{i.service.value}}'>{{i.service.value}}</option>
            {%endfor%}
         </select>
         with input: (new) <input type="text" name="lname" /> or previous: 
         <select class="core input">
            {%for i in models.biordf.local.previous_datasets_inputs%}
               <option value='{{i.input.value}}'>{{i.input.value}}</option>
            {%endfor%}
         </select>

         <div id="augment-datasets" class="datasets configuration">
            <p>
               <span class="step-num">3.1</span> 
               <input type="checkbox" id="augment-datasets-checkbox" />
               <span class="step-title">Augment dataset descriptions</span>
            </p>
            <div class="hide">
               <table>
                  <tr>
                     <th>augment-datasets</th>
                     <th>Requires input type</th>
                  </tr>
                  {%for i in models.biordf.with_references%}
                     <tr>
                        <td><a href='{{i.service.value}}'>{{i.service.value}}</a></td>
                        <td><a href='{{i.input.value}}'>{{i.input.value}}</a></td>
                     </tr>
                  {%endfor%}
               </table>
               <select class="core-service">
                  {%for i in models.biordf.with_references%}
                     <option value='{{i.service.value}}'>{{i.service.value}}</option>
                  {%endfor%}
               </select>
               with input: (new) <input type="text" name="lname" /> or previous: 
               <select class="core input">
                  <option value='previous input 1'>previous input 1</option>
                  <option value='previous input 2'>previous input 2</option>
                  <option value='previous input 3'>previous input 3</option>
                  <option value='previous input 4'>previous input 4</option>
                  <option value='previous input 5'>previous input 5</option>
               </select>
            </div>
         </div>

      </div> <!-- select-datasets -->

      <div style="text-align: center" about="#" typeof="datafaqs:FAqTBrickExplorer">
         <a rel="datafaqs:powered_by" href="http://www.w3.org/TR/rdfa-syntax"><img src="image/sw-rdfa-orange.png" alt="Powered by RDFa" width="120px"/></a>
         <a rel="datafaqs:powered_by" href="http://test.ckan.net/"><img src="https://github.com/timrdf/DataFAQs/raw/master/doc/ckan/ckan_logo_box.png" alt="Powered by CKAN" width="80px"/></a>
         <a rel="datafaqs:powered_by" href="http://sadiframework.org/content/"><img src="https://github.com/timrdf/DataFAQs/raw/master/doc/sadi/sadi-header.png" alt="Powered by SADI" width="150px"/></a>
         <a rel="datafaqs:powered_by" href="http://lodspeakr.org"><img src="https://github.com/timrdf/DataFAQs/raw/master/doc/lodspeakr/lodspeakr_4.png" alt="Powered by LODSPeaKr" width="100px"/></a>
         <a rel="datafaqs:powered_by" href="http://code.google.com/p/surfrdf/"><img src="http://surfrdf.googlecode.com/files/surf-logo-poweredby.png" alt="Powered by SuRF" width="150px"/></a>
      </div>
   </body>                                                              
</html>
